{% extends "layout.twig" %}

{% block content %}
<div class="row">
    <div class="col-xs-12 col-md-12">
        <div class="page-header">
          <h1>User <small>resource-list</small></h1>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="userlist-header">
                    <form method="get" class="form-inline">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon"><span class="glyphicon glyphicon-search"></span></div>
                                <input type="text" class="form-control" id="search" name="q" value="{{ q }}" placeholder="search terms">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">search</button>
                    </form>
                </div>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>username</th>
                                <th>firstname</th>
                                <th>lastname</th>
                                <th>email</th>
                                <th>role</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for user in user_list.results %}
                            <tr>
                                <td><a href="{{ url(
                                    'foh.system_account.user.tasks.modify',
                                    { 'identifier': user.identifier}
                                ) }}">{{ user.username }}</a></td>
                                <td>{{ user.firstname }}</td>
                                <td>{{ user.lastname }}</td>
                                <td>{{ user.email }}</td>
                                <td>{{ user.role }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">Create user</div>
            <div class="panel-body">
                <form method="post">
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input class="form-control" id="username" name="form[username]" />
                    </div>
                    <div class="form-group">
                        <label for="firstname">Firstname</label>
                        <input class="form-control" id="firstname" name="form[firstname]" />
                    </div>
                    <div class="form-group">
                        <label for="lastname">Lastname</label>
                        <input class="form-control" id="lastname" name="form[lastname]" />
                    </div>
                    <div class="form-group">
                        <label for="email">Email address</label>
                        <input type="email" name="form[email]" class="form-control" id="email" placeholder="your.email@example.com" />
                    </div>
                    <div class="form-group">
                        <label for="role">Role</label>
                        <select type="select" name="form[role]" class="form-control" id="role">
                           <option>administrator</option>
                           <option>user</option>
                        </select>
                    </div>
                    <button class="btn btn-success" type="submit">create!</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
